# Importação de bibliotecas

In [1]:
import pandas as pd

# Importação das bases de dados que estão em CSV

In [83]:
municipio = pd.read_csv(filepath_or_buffer='./d_municipio.csv')
tempo = pd.read_csv(filepath_or_buffer='./d_tempo.csv')
origem = pd.read_csv(filepath_or_buffer='./origem.csv')

# Entendimento da base de dados

In [84]:
display(origem.head(1)) #27820
display(municipio.head(5))
display(tempo.head(1))

,nu_notificacao,tp_entrada,tp_pop_liberdade,tp_pop_rua,tp_forma,dt_nascimento,dt_diagnostico_sintoma,tp_situacao_encerramento,co_uf_residencia_atual,co_municipio_residencia_atual
0,2889325,1.0,2.0,2.0,1.0,1999-04-04T00:00,2018-08-24T00:00,2.0,52.0,522140.0

,dmun_codibge,dmun_uf_sigla,dmun_uf_nome,dmun_uf_nomex,dmun_municipio,dmun_municipiox,dmun_regiao_saude,dmun_regiao_saudex,dmun_macro_regiao,dmun_macro_regiaox,...,dmun_fronteira_faixa_mun,dmun_fronteira_zona_mun,dmun_capital_mun,dmun_regiao,dmun_regiaox,dmun_pobreza_mun,dmun_semiar_mun,dmun_ride_regiao,dmun_ride_regiaox,dmun_pertence_ride
0,1,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,NaN
1,110000,RO,Rondônia,RONDONIA,Município ignorado - RO,MUNICIPIO IGNORADO - RO,Município ignorado - RO,MUNICIPIO IGNORADO - RO,Município ignorado - RO,MUNICIPIO IGNORADO - RO,...,N,N,N,Região Norte,REGIAO NORTE,N,N,-,-,NaN
2,110001,RO,Rondônia,RONDONIA,Alta Floresta D'Oeste,ALTA FLORESTA D'OESTE,Zona da Mata,ZONA DA MATA,Região não definida - RO,REGIAO NAO DEFINIDA - RO,...,S,S,N,Região Norte,REGIAO NORTE,N,N,-,-,NaN
3,110002,RO,Rondônia,RONDONIA,Ariquemes,ARIQUEMES,Vale do Jamari,VALE DO JAMARI,Região não definida - RO,REGIAO NAO DEFINIDA - RO,...,N,N,N,Região Norte,REGIAO NORTE,N,N,-,-,NaN
4,110003,RO,Rondônia,RONDONIA,Cabixi,CABIXI,Cone Sul,CONE SUL,Região não definida - RO,REGIAO NAO DEFINIDA - RO,...,S,S,N,Região Norte,REGIAO NORTE,N,N,-,-,NaN

,dte_id,is_last_day_of_month,year_semester,semester_number,month_name,month_abbreviation,week_in_month,is_first_day_of_month,week_in_year,bimonthly_name,...,date_short,year_month_number,quarter_name,date_full,year_month_abbreviation,day_in_month,day_abbreviation,year4,date_long,year_of_week
0,20100101,no,2010-S1,1.0,Janeiro,Jan,1.0,yes,1.0,B1,...,01/01/2010,201001,Q1,"Sexta-feira, 1 de Janeiro de 2010",2010-Jan,1.0,Sex,2010.0,1 de Janeiro de 2010,2010.0

In [85]:
display(origem.query(expr="co_municipio_residencia_atual == 522140").head(1))
display(municipio.query(expr="dmun_codibge == 522140").head(1))
display(tempo.query(expr="dte_id == 20180824").head(1))

,nu_notificacao,tp_entrada,tp_pop_liberdade,tp_pop_rua,tp_forma,dt_nascimento,dt_diagnostico_sintoma,tp_situacao_encerramento,co_uf_residencia_atual,co_municipio_residencia_atual
0,2889325,1.0,2.0,2.0,1.0,1999-04-04T00:00,2018-08-24T00:00,2.0,52.0,522140.0

,dmun_codibge,dmun_uf_sigla,dmun_uf_nome,dmun_uf_nomex,dmun_municipio,dmun_municipiox,dmun_regiao_saude,dmun_regiao_saudex,dmun_macro_regiao,dmun_macro_regiaox,...,dmun_fronteira_faixa_mun,dmun_fronteira_zona_mun,dmun_capital_mun,dmun_regiao,dmun_regiaox,dmun_pobreza_mun,dmun_semiar_mun,dmun_ride_regiao,dmun_ride_regiaox,dmun_pertence_ride
5583,522140,GO,Goiás,GOIAS,Trindade,TRINDADE,Central,CENTRAL,Centro Oeste,CENTRO OESTE,...,N,N,N,Região Centro-Oeste,REGIAO CENTRO-OESTE,N,N,Restante do Estado,RESTANTE DO ESTADO,NaN

,dte_id,is_last_day_of_month,year_semester,semester_number,month_name,month_abbreviation,week_in_month,is_first_day_of_month,week_in_year,bimonthly_name,...,date_short,year_month_number,quarter_name,date_full,year_month_abbreviation,day_in_month,day_abbreviation,year4,date_long,year_of_week
3157,20180824,no,2018-S2,2.0,Agosto,Ago,4.0,no,34.0,B4,...,24/08/2018,201808,Q3,"Sexta-feira, 24 de Agosto de 2018",2018-Ago,24.0,Sex,2018.0,24 de Agosto de 2018,2018.0

# Unificação das informações

In [23]:
dbaMerge = pd.merge(left=origem,
                        right=municipio,
                        left_on='co_municipio_residencia_atual',
                        right_on='dmun_codibge',
                        how='left',
                        indicator=True)

# Valida se tem alguma data nula

In [ ]:
display(dbaMerge[dbaMerge['dataFormatada'].isna()])

# Ajusta data para join na d_tempo

In [39]:
dbaMerge['dataFormatada'] = pd.to_datetime(dbaMerge['dt_diagnostico_sintoma']).dt.strftime('%Y%m%d').astype(int)

In [46]:
dbaFull = pd.merge(left=dbaMerge,
                        right=tempo,
                        left_on='dataFormatada',
                        right_on='dte_id',
                        how='left')

# Aplicando condicionais mediante documentação da base de dados

In [96]:
# Tratativo tp_entrada
dbaFull['motivoEntrada'] = dbaFull.apply(lambda row:
                                         'Caso Novo' if row['tp_entrada'] == 1 else
                                         'Recidiva' if row['tp_entrada'] == 2 else
                                         'Reingresso após Abandono' if row['tp_entrada'] == 3 else
                                         'Não Sabe' if row['tp_entrada'] == 4 else
                                         'Transferência' if row['tp_entrada'] == 5 else
                                         'Pós-óbito' if row['tp_entrada'] == 6 else 'Não informado'
                                         , axis=1)

# Tratativa tp_pop_liberdade
dbaFull['popLiber'] = dbaFull.apply(lambda row:
                                         'Sim' if row['tp_pop_liberdade'] == 1 else
                                         'Não' if row['tp_pop_liberdade'] == 2 else
                                         'Ignorado' if row['tp_pop_liberdade'] == 9 else 'Não informado'
                                         , axis=1)

# Tratativa tp_pop_rua
dbaFull['popRua'] = dbaFull.apply(lambda row:
                                         'Sim' if row['tp_pop_rua'] == 1 else
                                         'Não' if row['tp_pop_rua'] == 2 else
                                         'Ignorado' if row['tp_pop_rua'] == 9 else 'Não informado'
                                         , axis=1)

# Tratativa tp_forma
dbaFull['formaTb'] = dbaFull.apply(lambda row:
                                         'Pulmonar' if row['tp_forma'] == 1 else
                                         'Extrapulmonar' if row['tp_forma'] == 2 else
                                         'Pulmonar + Extrapulmonar' if row['tp_forma'] == 3 else 'Não informado'
                                         , axis=1)

# Tratativa tp_situacao_encerramento
dbaFull['situaEnce'] = dbaFull.apply(lambda row:
                                         'Cura' if row['tp_situacao_encerramento'] == 1 else
                                         'Abandono' if row['tp_situacao_encerramento'] == 2 else
                                         'Óbito por TB' if row['tp_situacao_encerramento'] == 3 else
                                         'Óbito por outras causas' if row['tp_situacao_encerramento'] == 4 else
                                         'Transferência' if row['tp_situacao_encerramento'] == 5 else
                                         'Mudança de Diagnóstico' if row['tp_situacao_encerramento'] == 6 else
                                         'TB-DR' if row['tp_situacao_encerramento'] == 7 else
                                         'Mudança de Esquema' if row['tp_situacao_encerramento'] == 8 else 'Não informado'
                                         , axis=1)

dbaFull['year4'] = pd.to_datetime(dbaFull['year4']).astype(str).replace('.0', '')

dbaFull['dtNascimento'] = pd.to_datetime(dbaFull['dt_nascimento']).dt.strftime('%Y-%m-%d')
dbaFull['dtDiagnostico'] = pd.to_datetime(dbaFull['dt_diagnostico_sintoma']).dt.strftime('%Y-%m-%d')

dbaFull['ref'] = pd.to_datetime(dbaFull['dt_diagnostico_sintoma']).dt.strftime('%Y/%m')
dbaFull['refExt'] = dbaFull.apply(lambda row: str(row['month_name']) + ' de ' + dbaFull['ref'], axis=1)

In [93]:
print(dbaFull.columns)

Index(['nu_notificacao', 'tp_entrada', 'tp_pop_liberdade', 'tp_pop_rua',
       'tp_forma', 'dt_nascimento', 'dt_diagnostico_sintoma',
       'tp_situacao_encerramento', 'co_uf_residencia_atual',
       'co_municipio_residencia_atual', 'dmun_codibge', 'dmun_uf_sigla',
       'dmun_uf_nome', 'dmun_uf_nomex', 'dmun_municipio', 'dmun_municipiox',
       'dmun_regiao_saude', 'dmun_regiao_saudex', 'dmun_macro_regiao',
       'dmun_macro_regiaox', 'dmun_divisao_adm', 'dmun_divisao_admx',
       'dmun_micro_regiao', 'dmun_micro_regiaox', 'dmun_regiao_metropolitana',
       'dmun_regiao_metropolitanax', 'dmun_area_uf', 'dmun_area_mun',
       'dmun_latitude_mun', 'dmun_longitude_mun', 'dmun_altitude_mun',
       'dmun_amazonia_mun', 'dmun_fronteira_faixa_mun',
       'dmun_fronteira_zona_mun', 'dmun_capital_mun', 'dmun_regiao',
       'dmun_regiaox', 'dmun_pobreza_mun', 'dmun_semiar_mun',
       'dmun_ride_regiao', 'dmun_ride_regiaox', 'dmun_pertence_ride', '_merge',
       'dataFormatada', 'dte_id', 'is_last_day_of_month', 'year_semester',
       'semester_number', 'month_name', 'month_abbreviation', 'week_in_month',
       'is_first_day_of_month', 'week_in_year', 'bimonthly_name',
       'date_medium', 'quarter_number', 'is_first_day_in_week', 'day_in_year',
       'month_number', 'bimonthly_number', 'semester_name', 'year_bimonthly',
       'year_quarter', 'is_last_day_in_week', 'day_name', 'date_short',
       'year_month_number', 'quarter_name', 'date_full',
       'year_month_abbreviation', 'day_in_month', 'day_abbreviation', 'year4',
       'date_long', 'year_of_week', 'motivoEntrada', 'popLiber', 'popRua',
       'formaTb', 'situaEnce', 'dtNascimento', 'dtDiagnostico', 'referencia',
       'refExt', 'ref'],
      dtype='object')

In [90]:
filtro = ['nu_notificacao', 'tp_entrada', 'tp_pop_rua', 'tp_forma', 'dtNascimento', 'dtDiagnostico', 'motivoEntrada', 'popLiber', 'popRua', 'formaTb', 'situaEnce', 'refExt',
                    'dmun_uf_sigla', 'dmun_uf_nome', 'dmun_municipio', 'dmun_latitude_mun', 'dmun_longitude_mun', 'ref']

dbaFilter = dbaFull[filtro]

In [94]:
display(dbaFilter)

,nu_notificacao,tp_entrada,tp_pop_rua,tp_forma,dtNascimento,dtDiagnostico,motivoEntrada,popLiber,popRua,formaTb,situaEnce,refExt,dmun_uf_sigla,dmun_uf_nome,dmun_municipio,dmun_latitude_mun,dmun_longitude_mun,ref
0,2889325,1.0,2.0,1.0,1999-04-04,2018-08-24,Caso Novo,Não,Não,Pulmonar,Abandono,Agosto de 1970-01-01 00:00:00.000002018,GO,Goiás,Trindade,-16.655350,-49.489100,1970-01-01 00:00:00.000002018/.
1,4922,1.0,NaN,1.0,1981-04-02,2010-03-08,Caso Novo,Não informado,Não informado,Pulmonar,Cura,Março de 1970-01-01 00:00:00.000002010,GO,Goiás,Aparecida de Goiânia,-16.822150,-49.243330,1970-01-01 00:00:00.000002010/.
2,2763661,1.0,2.0,1.0,1966-03-08,2017-09-18,Caso Novo,Não,Não,Pulmonar,Cura,Setembro de 1970-01-01 00:00:00.000002017,GO,Goiás,Senador Canedo,-16.718580,-49.087970,1970-01-01 00:00:00.000002017/.
3,2546548,1.0,2.0,1.0,1970-10-04,2018-01-30,Caso Novo,Sim,Não,Pulmonar,Cura,Janeiro de 1970-01-01 00:00:00.000002018,GO,Goiás,Campos Verdes,-14.273270,-49.663270,1970-01-01 00:00:00.000002018/.
4,2873270,1.0,1.0,1.0,1984-06-16,2018-05-24,Caso Novo,Não,Sim,Pulmonar,Cura,Maio de 1970-01-01 00:00:00.000002018,GO,Goiás,Caldas Novas,-17.743540,-48.621200,1970-01-01 00:00:00.000002018/.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,2954272,1.0,2.0,3.0,1960-01-11,2017-08-30,Caso Novo,Não,Não,Pulmonar + Extrapulmonar,Cura,Agosto de 1970-01-01 00:00:00.000002017,GO,Goiás,Goiânia,-16.673310,-49.255810,1970-01-01 00:00:00.000002017/.
27816,2889306,1.0,2.0,3.0,1991-05-29,2018-06-03,Caso Novo,Não,Não,Pulmonar + Extrapulmonar,Cura,Junho de 1970-01-01 00:00:00.000002018,GO,Goiás,Trindade,-16.655350,-49.489100,1970-01-01 00:00:00.000002018/.
27817,3201314,1.0,2.0,1.0,1979-08-13,2018-08-06,Caso Novo,Não,Não,Pulmonar,Cura,Agosto de 1970-01-01 00:00:00.000002018,GO,Goiás,Cavalcante,-13.799280,-47.463440,1970-01-01 00:00:00.000002018/.
27818,2873263,1.0,2.0,1.0,1998-04-08,2018-06-21,Caso Novo,Não,Não,Pulmonar,Transferência,Junho de 1970-01-01 00:00:00.000002018,GO,Goiás,Senador Canedo,-16.718580,-49.087970,1970-01-01 00:00:00.000002018/.
27819,2801389,1.0,2.0,2.0,1973-01-18,2018-01-17,Caso Novo,Não,Não,Extrapulmonar,Abandono,Janeiro de 1970-01-01 00:00:00.000002018,GO,Goiás,Doverlândia,-16.721040,-52.313980,1970-01-01 00:00:00.000002018/.